<mat-card class="pages-top">
  <div class="avatar-wrap col-lg-4 col-md-5 col-sm-8 col-xs-8">
    <div class="avatar pull-left">
      <img src="{{avatarImgSrc}}" alt="avatar" class="img-responsive">
    </div>
    <div class="user-info-wrap pull-left">
      <mat-card-title class="user-name" title="{{userName}}">{{userDetails.firstName}} {{userDetails.lastName}}</mat-card-title>
      <span class="user-post" title="{{userPost}}">{{userDetails.attributes.role[0]}}, {{userDetails.attributes.specialisation[0]}}</span>
    </div>
    <div class="collapse-menu pull-right" (click)="toggleBar('sidebar')">
      <!-- <i class="fa fa-navicon fa-fw" [ngClass]="{'toggle-on':sidebarToggle,'toggle-off':!sidebarToggle}"></i> -->
      <i class="fa fa-dedent fa-fw" *ngIf="sidebarToggle"></i>
      <i class="fa fa-indent fa-fw" *ngIf="!sidebarToggle"></i>
    </div>
  </div>

  <!-- <div class="collapse-menu" (click)="_sidebarToggle()">
     <i class="fa fa-navicon fa-fw" [ngClass]="{'toggle-on':sidebarToggle,'toggle-off':!sidebarToggle}"></i> -->
    <!-- <i class="fa fa-dedent fa-fw" *ngIf="sidebarToggle"></i>
    <i class="fa fa-indent fa-fw" *ngIf="!sidebarToggle"></i>
  </div> --> 


  <div class="search-group col-lg-4">
    <input type="text" class="search-input" placeholder="Search project · · ·">
    <button class="search-btn pull-right">
      <i class="fa fa-search fa-fw"></i>
    </button>
  </div>

  <div class="msg-tips-wrap col-lg-4">
    <div class="msg-entrance ring">
      <span class="fa fa-bell fa-fw"></span>
      <span class="badge" *ngIf="tip.ring"></span>
    </div>
    <div class="msg-entrance email">
      <span class="fa fa-envelope fa-fw"></span>
      <span class="badge" *ngIf="tip.email"></span>
    </div>
    <button class="config-switch" (click)="toggleBar('config')">
        <i class="fa fa-tasks" *ngIf="!configToggle"></i>
        <i class="fa fa-chevron-right" *ngIf="configToggle"></i>
    </button>
  </div>              
</mat-card>
