<mat-card class="pages-top">
  <div class="avatar-wrap row col-lg-2 col-md-5 col-sm-8 col-xs-8">
    <div class="collapse-menu pull-left hidden-lg hidden-md hidden-sm" (click)="toggleBar('sidebar')">
        <!-- <i class="fa fa-navicon fa-fw" [ngClass]="{'toggle-on':sidebarToggle,'toggle-off':!sidebarToggle}"></i> -->
        <i class="fa fa-dedent fa-fw" *ngIf="sidebarToggle"></i>
        <i class="fa fa-indent fa-fw" *ngIf="!sidebarToggle"></i>
      </div>
    <div class="avatar pull-left">
      <img src="{{avatarImgSrc}}" alt="avatar" class="img-responsive">
    </div>
    <div class="user-info-wrap pull-left" *ngIf="userDetails !== undefined">
      <mat-card-title class="user-name" title="{{userName}}">{{userDetails.firstName}} {{userDetails.lastName}}</mat-card-title>
      <span class="user-post" title="{{userPost}}">{{userDetails.attributes.role[0]}}, {{userDetails.attributes.specialisation[0]}}</span>
    </div>
  </div>
  <div class="example-container">
    <mat-chip-list
      cdkDropList
      cdkDropListOrientation="horizontal"
      id="todoList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="['doneList']"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      
      <mat-chip  disableRipple class="example-box" *ngFor="let item of todo" cdkDrag (cdkDragStarted)=dragStart($event)>{{item}}</mat-chip>
    </mat-chip-list>
  </div>
</mat-card>
